.mainContainer {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:nth-child(3) {
    background-color: yellow;
    width: 60px;
}

input:nth-child(4) {
    background-color: red;
    width: 60px;
}

input:nth-child(5) {
    background-color: yellowgreen;
    width: 60px;
}

span {
    color: red;
}